
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<form>
    <input type="text" id="calc" name="calc"/>
    <input type="submit" id="submit" name="submit"/>
    <button name="helloworld" id="helloworld" >Hello World</button>
</form>

<span id="output"></span>

